<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
        <h1>{% block h1 %} {% endblock %}</h1>

         <!-- To handle our flashed messages  -->
         {% for msg in get_flashed_messages() %}
         <p><b>{{ msg }}</b></p>
        {% endfor %}

        {% block content %} {% endblock %}
</body>
</html>

<!-- 
'''
Author: Mahad Osman
Date: Nov 17th
Assignment: Flask Tools Exercise 
- Simple base.html that will be extended to our other htmls.
- Also handles our flashed messages.
''' -->